<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Demo Interpolasi Pug
    body
        h2 Demo Interpolasi di dalam Pug
        p Halo #{nama}, Selamat datang di website kami 