<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Demo Pengulangan Dalam Pug
    body
        h2 Demo Pengulangan Dalam Pug
        - var i=0
        while i < n
            span #{s} #[br]
            - i++